<h1>Welcome, {{ username}}</h1>
<table>
  <thead>
    <tr>
      <th>Promoter</th>
      <th>Entity</th>
      <th>Total</th>
      <th>Monthly Report</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.username }}</td>
      <td>{{ item.promoter }}</td>
      <td>{{ item.total }}</td>
      <td>{{ item.monthly_report }}</td>
    </tr>
  </tbody>
</table>

<button (click)="abrirRegistro()">Botón</button>

<form (ngSubmit)="aniadirRegistro()">
  <div>
    <label for="usuario">Usuario:</label>
    <input type="text" [(ngModel)]="addRegister.username"  name="usuario">
  </div>
  <div>
    <label for="promotor">Promotor:</label>
    <input type="text" [(ngModel)]="addRegister.promoter"  name="promotor">
  </div>
  <div>
    <label for="aportacion">Aportación:</label>
    <input type="text" [(ngModel)]="addRegister.monthly_report"  name="aportacion">
  </div>
  <button type="submit">Guardar</button>
</form>