<div class="container">
  <h1>Plataforma Digital de Consulta</h1>
  <h2>Ciudadano: {{ data[0].name }} {{ data[0].surname }}</h2>
  <h3>Aportaciones mensuales/totales</h3>
  <table>
    <thead>
      <tr>
        <th>Entidad Financiera</th>
        <th>Mes</th>
        <th>Aportación</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.entity }}</td>
        <td>{{ item.month }}</td>
        <td>{{ item.monthly_report }}</td>
        <td>{{ item.total }}</td>
      </tr>
    </tbody>
    <app-chatbot></app-chatbot>
  </table>
</div>