body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #FF4848;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li:nth-child(2) {
    margin-left: auto;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

footer {
    width: 100%;
    background-color: #FF4848;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    margin: 10px 0;
}

.cerrar{
    margin-left: 1350px;
}